

.Home {
 position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 130px;

background-color: #DCC9B6;


}

.CoffeeMenuHome {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 1080px;
    background-color: #ABC4AB;

}


.ReviewsHome {
position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 1080px;

background: #6D4C3D;

}